html,body{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    overflow-x: hidden;
}


/*CSS for the header*/
.header-container{
    display: flex; 
   align-items: center;
   justify-content: space-between;
    width: 100%;
    background-color: lightblue;
    padding: 20px 20px; 
    margin-top: 0px;
    margin-bottom: 50px;
    
}


/*CSS for the index page*/

.info-container{
    text-align: center;
}



.rules-container{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    margin-top: 100px;
}

.rules-container h2{
    margin-top: 50px;
    
}

.list-container{
   max-width: 400px;
   text-align: justify;
}


